@using Microsoft.AspNetCore.Mvc.Rendering;
@model IsFakeViewModels.CompareViewModel

@{
    ViewData["Title"] = "CompareVoices";
}
<form>
    <div class="row">
 
        <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="StatementId" class="form-label mt-4"></label>
                    <select class="form-select" asp-for="StatementId" asp-items="Model.Statements">
                        <option value="">Select Statement</option>
                    </select>
                    <span asp-validation-for="StatementId" class="text-danger"></span>
                 </div>
        </div>
        <div class="col-md-6">
               <div class="form-group">
                   <label asp-for="VoiceFile" class="form-label mt-4"></label>
                   <input type ="file" class="form-control" asp-for="VoiceFile"/>
                   <span asp-validation-for="VoiceFile" class="text-danger"></span>
               </div>
        </div>

                <div class="col-md-6">
               <div class="form-group">
                   <label asp-for="RecordFile" class="form-label mt-4"></label>
                   <input type ="file" class="form-control" asp-for="RecordFile"/>
                   <span asp-validation-for="RecordFile" class="text-danger"></span>
               </div>
        </div>

        <div>
            <div class="col-md-12">
                 <input type="submit" value="Upload" />
            </div>
        </div>
   
    </div> 
     
</form>


<!--
<h1>CompareVoices</h1>

<h4>CompareViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CompareVoices">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StatementId" class="control-label"></label>
                <input asp-for="StatementId" class="form-control" />
                <span asp-validation-for="StatementId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

-->
